<style>
    th{
        text-align: center;
        padding: 15px;
    }
    thead{
        font-size: 25px;
    }
    .table-hover tbody tr:hover td{
        background-color: #337ab7;
        color: white;
    }
</style>

<ul class="list-group">

    <input #input type="text" placeholder="Filter" [(ngModel)]="search">

    <table class="table table-bordered table-hover table-striped">

        <thead>
            <tr class="bg-primary">
                <th>Owner</th>
                <th>ID</th>
                <th>Category</th>
                <th>Status</th>
                <th>Body</th>
            </tr>
        </thead>

        <tbody>

            <tr class="bg-info" *ngFor="let todo of todos | async">
                <td >{{todo.owner}}</td>
                <td >{{todo._id}}</td>
                <td >{{todo.category}}</td>
                <td >{{todo.status}}</td>
                <td >{{todo.body}}</td>
            </tr>

        </tbody>

    </table>

</ul>
