<style>
    th{
        text-align: center;
    }
    thead{
        font-size: 25px;
        margin-right: 15px;
    }
</style>

<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <input #input type="text" placeholder="Filter" [(ngModel)]="search">
    </li>

    <table class="table table-bordered table-striped table-hover">

        <thead>
            <th>Owner</th>
            <th>ID</th>
            <th>Category</th>
            <th>Status</th>
            <th>Body</th>
        </thead>

        <tbody>

            <tr *ngFor="let todo of todos | async">
                <td >{{todo.owner}}</td>
                <td >{{todo._id}}</td>
                <td >{{todo.status}}</td>
                <td >{{todo.body}}</td>
                <td >{{todo.category}}</td>
            </tr>

        </tbody>

    </table>


</ul>
