<style>
    th{
        text-align: center;
        padding: 15px;
    }
    thead{
        font-size: 25px;
    }
    .table-hover tbody tr:hover td{
        background-color: #337ab7;
        color: white;
    }
    input{
        width: auto;
    }
</style>

<ul class="list-group">


    <table class="table table-bordered table-hover table-striped">

        <thead>
            <tr class="bg-primary">
                <th>Owner</th>
                <th>ID</th>
                <th>Category</th>
                <th>Status</th>
                <th>Body</th>
            </tr>

            <tr>
                <th>
                    <input #input class="form-control" type="text" placeholder="Filter Owner" [(ngModel)]="searchOwner">
                </th>
                <th>
                    <input #input class="form-control" type="text" placeholder="Filter ID" [(ngModel)]="searchID">
                </th>
                <th>
                    <input #input class="form-control" type="text" placeholder="Filter ID" [(ngModel)]="searchCategory">
                </th>

                <th>
                    <select class="form-control">
                        <option></option>
                        <option>True</option>
                        <option>False</option>
                    </select>
                </th>

                <th>
                    <input #input class="form-control" type="text" placeholder="Filter ID" [(ngModel)]="searchBody">
                </th>
            </tr>

        </thead>

        <tbody>

            <tr class="bg-info" *ngFor="let todo of todos | async | filterBy: {owner: searchOwner} |
                                                                    filterBy: {_id: searchID} |
                                                                    filterBy: {category: searchCategory} |
                                                                    filterBy: {status: searchStatus} |
                                                                    filterBy: {body: searchBody} ">
                <td >{{todo.owner}}</td>
                <td >{{todo._id}}</td>
                <td >{{todo.category}}</td>
                <td >{{todo.status}}</td>
                <td >{{todo.body}}</td>
            </tr>

        </tbody>

    </table>

</ul>
